$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './modals';

$background-color: #fff;
$button-color: #f2564c;
$font-color: #000;
$navbar-color: #8ab69d;
// $navbar-height: 100px;

$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;
$plum: rgb(153, 16, 72);
$raspberry: rgb(242, 31, 76);
$lime: rgb(192, 202, 77);
$lt-blue: rgb(94, 187, 221);
$olive: rgb(138, 182, 157);
$border-color: #333;

input {
  color: $black;
}

.hidden {
  display: none;
}

p {
  font-size: 17px;
}

body {
  background-color: $background-color;
  // background: url('../../assets/images/pink-lunchbox2.jpg');
  background-size: cover;
  color: $font-color;
  margin-bottom: 60px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 50px;
  min-height: 100vh;
  text-align: center;
}

hr {
  border-color: $black;
}

.messages {
  padding: 5px 10px;
}

.button {
  background: $button-color;
  border: 1px solid $border-color;
  color: $white;
  margin: 5px 10px;
  padding: 5px 10px;
}

.button2 {
  background: $teal;
  border: 1px solid $border-color;
  color: $white;
  display: inline-block;
  margin: 3px 5px;
  padding: 3px 5px;
}

.navbar-btn {
  background: $button-color;
  border: 1px solid $border-color;
  color: $white;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
}

.remove-button {
  background: $button-color;
  border: 1px solid $border-color;
  color: $white;
  margin: 5px 10px;
  padding: 5px 10px;
}

.navbar {
  position: relative;
  min-height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  margin-bottom: $navbar-margin-bottom;
  border: 1px solid transparent;
  background: $navbar-color;
  padding: 5px 10px;

  // Prevent floats from breaking the navbar
  @include clearfix;

  @media (min-width: $grid-float-breakpoint) {
    border-radius: $navbar-border-radius;
  }
}

.sign-out-button {
  margin-right: 10px;
}

.sign-out-dropdown {
  margin-top: 8px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
}

.noclick {
  pointer-events: none;
}

.hover {
  opacity: 0.8;
}

.map {
  height: 480px;
  width: 480px;
  margin: 0 auto;
}
